*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans Display', sans-serif;
}

/*===========================================
|               General style
============================================*/
h1, h2, h3, h4, h5, h6 {
    color: #606060;
    pointer-events: none;
}

.btn, .btn:hover, .btn:focus, .btn:active,
.form-control, .form-control:hover, .form-control:focus, .form-control:active {
    outline: none !important;
    box-shadow: none !important;
    height: 50px;
}

.content-box {
    margin-top: 60px;
}

p {
    color: #606060;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #606060;
    font-size: 16px;
}

ul {
    list-style: none;
    padding-left: 0;
}

.content-box-title {
    padding: 0;
}

.content-box-title h3 {
    text-transform: capitalize;
    font-weight: 700;
}

.container-fluid {
    padding: 0 !important;
}

/*===========================================
|             sticky navigation 
============================================*/
.fixed-top {
    z-index: 94 !important;
}
.sticky-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.sticky-nav-bg {
    background-color: rgba(255, 255, 255, 0.7);
    transition: .3s ease;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px
}

.sticky-nav-logo img {
    width: 130px;
}

.sticky-nav-menu ul li {
    float: left;
    /* padding-left: 10px; */
}

.sticky-nav-menu ul li button {
    height: 80px;
    font-size: 14px;
    border: 0;
    outline: 0;
    background: transparent;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.sticky-nav-menu ul li button a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    padding: 25px 0;
    /* transition: .3s ease; */
}

.sticky-nav-menu ul li button:hover,
.sticky-nav-menu ul li button:hover a {
    color: #5584AC;
}

.sticky-nav-menu ul li button .sticky-nav-btn,
.sticky-nav-menu ul li button:hover .sticky-nav-btn,
.sticky-nav-menu ul li button:focus .sticky-nav-btn {
    background-color: #5584AC;
    border: 1px solid #22577E;
    color: #fff;
    padding: 12px 16px 12px 5px;
}

.sticky-nav-menu ul li button .sticky-nav-btn i {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 50%;
}

.sticky-nav-menu ul li button .sticky-nav-btn:hover,
.sticky-nav-menu ul li button .sticky-nav-btn:focus {
    background-color: #22577E;
    color: #fff;
}

/*===========================================
|             tablet mobile menu 
============================================*/
/* Fixed sidenav, full height */
.side-nav-bg {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 97;
    background: rgba(0,0,0,.4);
}
.sidenav {
    display: none;
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 98;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #606060;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: #5584AC;
}

/* Main content */
.main {
    margin-left: 200px;
    /* Same as the width of the sidenav */
    font-size: 20px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: #22577E;
    color: #fff;
}
.active:hover, .active:focus {
    color: #fff;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #f9f9f9;
    padding-left: 16px;
}
/* Optional: Style the caret down icon */
.sidenav .dropdown-btn i {
    float: right;
    padding-right: 8px;
}
/*===========================================
|               back to top
============================================*/
.back-to-top a {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    background-color: #5584AC;
    text-align: center;
    padding: 8px;
    border-radius: 50%;
    z-index: 96;
}

.back-to-top a:hover, .back-to-top a:focus {
    background-color: #22577E;
}

.back-to-top i {
    color: #fff;
}

/*===========================================
|                  dropdown 
============================================*/
/* .zen-dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
} */
.zen-dropdown {
    position: relative;
    display: inline-block;
}

.zen-dropdown button {
    text-transform: uppercase;
    color: #606060;
    font-weight: 500;
}

.zen-dropdown button:hover {
    color: #22577E;
}

.zen-dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #fff;
    min-width: 160px;
    z-index: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.zen-dropdown-content a {
    padding: 7px 16px;
    text-decoration: none;
    display: block;
}

.zen-dropdown-content a:hover {
    background-color: #f9f9f9;
    color: #5584AC;
}

.zen-dropdown:hover .zen-dropdown-content {
    display: block;
}

/*===========================================
|                   Home
============================================*/
#home {
    height: 100vh;
    width: 100%;
}

#videoBG video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.home-content-title {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
}

.home-content-title h1 {
    color: #fff;
    font-size: 80px;
    text-transform: uppercase;
    pointer-events: none;
    font-weight: 900;
}

.home-content-title h1 span {
    color: #F6F2D4;
}

/*===========================================
|                   check available
============================================*/
.checka-content-box {
    background-color: #F1F1F1;
    width: 100%;
    margin: 0;
    padding: 30px 0;
    margin-bottom: 30px;
}
.daterangepicker {
    font-family: 'Noto Sans Display', sans-serif !important;
}
.drp-buttons button {
    height: 30px !important;
    border-radius: 0 !important;
}
.drp-buttons .applyBtn {
    background-color: #5584AC !important;
}
.drp-buttons .applyBtn:hover,
.drp-buttons .applyBtn:focus {
    background-color: #22577E !important;
}

.guest-member-content {
    display: none;
    position: absolute;
    margin-top: 8px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    z-index: 5;
}
.guest-member-content span {
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    background-color: #fff;
    position: absolute;
    margin-left: 12px;
    margin-top: -6px;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    z-index: 2;
}
.guest-member-content .guest-title {
    padding: 20px;
}
.guest-add-content button {
    background: rgba(0, 0, 0, 0.08);
    border: 1px solid #ddd;
    height: 30px;
    width: 30px;
}
.guest-add-content button:hover,
.guest-add-content button:focus {
    background-color: rgba(0, 0, 0, 0.15);
}
.guest-add-content strong {
    margin: 0 8px;
}
/*===========================================
|                   Button
============================================*/
.btn-light-blue {
    background-color: #5584AC;
    color: #FFF !important;
}

.btn-light-blue:hover, .btn-light-blue:focus {
    background-color: #22577E;
    color: #FFF !important;
    border-color: none;
    outline: none;
}

/*===========================================
|                   Discover
============================================*/
.gallery-item-title h5 {
    color: #fff;
}

/*===========================================
|                watch video
============================================*/
.wv-image {
    margin-top: 30px;
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.wv-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.wv-image .wv-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 212, 255);
    background: linear-gradient(90deg, rgba(0, 212, 255, 0.1) 0%, rgba(241, 9, 215, 0.1) 100%);
}

.wv-image .wv-icon .play-icon {
    font-size: 110px;
    color: rgba(255, 255, 255, 0.5);
    transition: .5s ease;
    cursor: pointer;
}

.wv-image .wv-icon .play-icon:hover {
    /* font-size: 120px; */
    transform: scale(1.2);
    color: rgba(255, 255, 255, 0.9);
}

#videoPreview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
    display: none;
    transition: .2s ease;
}

#vBg {
    display: none;
    /* opacity: 0; */
}

/*===========================================
|                   map
============================================*/
.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 500px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 500px;
}

.gmap_iframe {
    height: 500px !important;
}

/*===========================================
|                   contact
============================================*/
.contact-title {
    height: 60px;
    text-transform: capitalize;
}
.contact-title img {
    width: 160px;
}
.contact-detail {
    line-height: 35px;
}

.contact-detail a:hover {
    color: #5584AC;
}

.social-icon {
    margin-top: 10px;
}

.social-icon a {
    padding: 10px;
    margin-right: 5px;
    font-size: 17px;
}

.social-icon a:hover {
    color: #22577E;
}

/*===========================================
|                   footer
============================================*/
#copyright {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.footer-box {
    padding: 20px 0 10px 0;
}

.footer-box p {
    color: rgba(0, 0, 0, 0.3);
}