.gallery-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 190px;  
    grid-gap: 20px;
}  /*  height amount = 400px */
.gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
}
.gallery-item .gallery-item-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.gallery-item .gallery-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
    transition: .5s ease;
}
.h-2 {
    grid-row: span 2;
}
.w-3 {
    grid-column: span 3;
}
.w-6 {
    grid-column: span 6;
}
.gallery-item-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    padding-bottom: 15px;
    color: #fff;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,0.1) 0%, rgba(241,9,215,0.1) 100%);
}
.gallery-item:hover .gallery-item-image img {
    transform: scale(1.07);
}
/* .gallery-item:hover .gallery-item-title {
    backdrop-filter: blur(1px) saturate(50%) brightness(110%);
} */

@media screen and (max-width: 991px) {
    .w-3 {
        grid-column: span 12;
    }
    .w-6 {
        grid-column: span 12;
    }
}