.room-review {
    display: table;
    width: 100%;
    margin-bottom: 25px;
}

.room-re-prof {
    display: table-cell;
    vertical-align: top;
    width: 80px;
    height: 80px;
}

.room-re-prof img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.room-re-disc-box {
    width: 100%;
    padding-left: 20px;
}

.room-re-disc {
    border: 1px solid rgba(0, 0, 0, .2);
    border-left: 7px solid rgba(0, 0, 0, .2);
    padding: 8px 16px;
}
/* services */
.service-item{
    color: #858A99;
    border: 1px dashed #f1f1f1;
    width: 250px;
    margin-top: 20px;
    padding: 8px;

}
.service-item i{
    margin-right: 8px;
}